<%=render 'layouts/header'%>
<div class="span12 checkout_show_container">
	<div class="span4">
		<h5>Checkout_id: <%=@checkout.stripe_transaction_id%></h5>
	</div>
	<div class="span3">
		<h5>User Email: <%=@checkout.user.email%></h5>
	</div>
	<div class="span3">
		<h5>Addres Line 1 : <%=@checkout.address_line_1%></h5>
		<h5>Address Line 2: <%=@checkout.address_line_2%></h5>
		<h5>City: <%=@checkout.city%></h5>
		<h5>Postcode: <%=@checkout.post_code%></h5>
	</div>
	<div class="span2 btn update_postage_status">
		<%= button_to "Click once sent", [:administration, @checkout], :method => :put %>
	</div>
</div>

<%@checkout_print_magazines.each do |magazine| %>
<div class="span12">
	<div class="span4">
		<h5><%=magazine.issue_number%></h5>
	</div>
	<div class="span4">
		<h5><%=magazine.name%></h5>
	</div>
</div>
<%end%>