<%=render 'layouts/header'%>
<div class="span12">
	<div class="span4">
		<h5>Checkout_id: <%=@checkout.stripe_transaction_id%></h5>
	</div>
	<div class="span3">
		<h5>User Email: <%=@checkout.user%></h5>
	</div>
	<div class="span3">
		<h5>Address: <%=@checkout.address%></h5>
		<h5>City: <%=@checkout.city%></h5>
		<h5>Postcode: <%=@checkout.post_code%></h5>
	</div>
	<div class="span1 btn">
		<%= button_to "Click once sent", [:administration, @checkout], :method => :put %>
	</div>
</div>

<% @checkout_print_magazines.each do |magazine| %>
<div class="span12">
	<div class="span4">
		<h5><%=magazine.issue_number%></h5>
	</div>
	<div class="span4">
		<h5><%=magazine.name%></h5>
	</div>
</div>
<%end%>
