<div class="row-fluid" id="header-divider">
</div>
<div class="fluid-row">
	<div class="span1">
	</div>
	<div class="span3" id="checkout">
		<h3>CART</h3>
		<p>PRODUCT NAME:</p>
		<div id="basket" data-magazinename="" data-magazinecost="">
		</div>
		<div id="trash_icon">
		</div>
		SUBTOTAL:
		<div class="subtotal" data-subtotal="0">£
		</div>
	</div>

  <% @magazine.each do |x| %>
	<div class="span3 magazine_data" data-id="<%=x.id%>"data-price="<%=x.price%>" data-name="<%=x.name%>">
	    <%=image_tag x.image_url, :width => 200 %><br>
	    <div id="mag_name"><%=x.name%></div>
	    <div id="mag_price">£<%= x.price %></div>
	    <button class="add_to_basket">ADD TO BASKET</button>
	</div>
	<%end%>
</div>


