<%=render 'layouts/header'%>

<div class="fluid-row">
<div class="span3" id="checkout">
  <h3>CART</h3>
  <div id="basket" data-magazinename="" data-magazinecost="">
  </div>
  <!-- SUBTOTAL: -->
  <div class="subtotal" data-subtotal="0">
  </div>
  <div class="payment_checkout" data-type="<%=@purchase_type%>">
  </div>
</div>
  
  <% @magazines.each do |x| %>
        <div class="span6 magazine_data" data-id="<%=x.id%>"data-price="<%=x.price%>" data-name="<%=x.name%>">
                <h3 style="margin-top:-10px"><%=@type%></h3>
            <%=image_tag x.image_url, :width => 400 %><br>
            <div id="mag_name"><%=x.name%></div><br>
            <div id="mag_price">£<%= x.price %></div>
            <button class="add_to_basket">ADD TO CART</button>
        </div>
        <%end%>
</div>

<script type="text/template" id="cart-template">
  <div class="wrapper" data-cost="{{=price}}" data-magazine-id="{{=id}}">
      <h6 class="magazine_checkout">{{=name}}</h6>
      <img class="trash_icon" title="click here to remove from cart" src="http://b.dryicons.com/images/icon_sets/symbolize_icons_set/png/128x128/trash.png" />
  </div>
</script>
