<%=render 'layouts/header'%>

<section class="row-fluid" id="magazine-section">
	<div class="span1">
	</div>
	<div class="span10">
		<div class="float_images">
			<%=image_tag('fashion.jpg', :width => 310)%>
		</div>
		<div class="float_images">
			<%=image_tag('recipe.jpg', :width => 310, :class => 'recipe_image')%>
		</div>
		<div class="float_images">
			<%=image_tag('make-up.jpg', :width => 310, :class => 'make_up_image')%>
		</div>
		<div class="float_images">
			<%=image_tag('travel.jpg', :width => 310, :class => 'travel_image')%>
		</div>
		<div class="float_images">
			<%=image_tag('food.png', :width => 310)%>
		</div>
		<div class="float_images">
			<%=image_tag('photographyb&w.jpg', :width => 310)%>
		</div>
	</div>
	<div class="span1">
	</div>
</section>

<div class="row-fluid" id="footer-divider">
</div>

<footer class="footer row-fluid">
	<div id="footerwrapper" class="span12">
		<ul>
			<li>TERMS OF WEBSITE USE</li>
			<li>TERMS AND CONDITIONS</li>
			<li>PRIVACY</li>
			<li>CONTACT US</li>
			<li>TWITTER</li>
			<li>FACEBOOK</li>
		</ul>
	</div>
</footer>





