<%=render 'layouts/header'%>
<div class="span1 sign_in_column_one">
</div>
<div class="span8">
	<h3>CARDS ACCEPTED</h3>
	<ul>
		<li class="payment_cards"><%=image_tag('visa.jpg', :width => '200px', :class => "payment_images")%></li>
		<li class="payment_cards"><%=image_tag('mastercard.jpg', :width => '200px', :class => "payment_images")%></li>
		<li class="payment_cards"><%=image_tag('american-express.jpg', :width => '200px', :class => "payment_images")%></li>
	</ul>
	<form action="/charges/create" method="POST">
	  <script
	    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
	    data-key="pk_test_cjMKtqKqJv1rcWEzUinqNbiL"
	    data-amount="2000"
	    data-name="Blogosphere"
	    data-description="Amount Payable: £<%=@subtotalwithpp%>"
	    data-image="/128x128.png">
	  </script>
	  <input type="hidden" name="subtotal" value=<%= @subtotalwithpp %>>
	</form>
</div>

<div class="span3">
	<h3>CHECKOUT</h3>
	<h6>PRODUCTS: £<%=@products_total%></h6>
	<h6>POST AND PACKAGING: £<%=@pandp%></h6>
	<h6>TOTAL: £<%=@subtotalwithpp%></h6>
</div>   

<!-- include the shipping address if @magazine_type == 'print' -->
